@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 215 25% 27%;

    --card: 0 0% 100%;
    --card-foreground: 215 25% 27%;

    --popover: 0 0% 100%;
    --popover-foreground: 215 25% 27%;

    --primary: 200 54% 20%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 20% 96%;
    --secondary-foreground: 215 25% 27%;

    --muted: 210 20% 96%;
    --muted-foreground: 215 20% 65%;

    --accent: 200 54% 20%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 70% 50%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 20% 91.4%;
    --input: 214.3 20% 91.4%;
    --ring: 215 25% 27%;

    --radius: 0.25rem;
    // Remove service workers antigos (cole isso antes do final do arquivo)
if ('serviceWorker' in navigator) {
  navigator.serviceWorker.getRegistrations().then(registrations => {
    registrations.forEach(registration => registration.unregister());
  });
}
  }

  .dark {
    --background: 215 30% 12%;
    --foreground: 210 40% 98%;

    --card: 215 30% 12%;
    --card-foreground: 210 40% 98%;

    --popover: 215 30% 12%;
    --popover-foreground: 210 40% 98%;

    --primary: 200 54% 40%;
    --primary-foreground: 215 30% 12%;

    --secondary: 215 25% 18%;
    --secondary-foreground: 210 40% 98%;

    --muted: 215 25% 18%;
    --muted-foreground: 215 20% 75%;

    --accent: 200 54% 40%;
    --accent-foreground: 215 30% 12%;

    --destructive: 0 70% 45%;
    --destructive-foreground: 210 40% 98%;

    --border: 215 25% 18%;
    --input: 215 25% 18%;
    --ring: 210 40% 90%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
